requests
python-dotenv
mammoth
pandas
openpyxl
pymupdf
pymupdf4llm
sentence-transformers
transformers
qdrant-client
beautifulsoup4
azure-ai-contentsafety
tiktoken
langchain
langchain-community
langchain-openai
qdrant-client
pydantic
sentence-transformers
transformers
pymupdf
pymupdf4llm
streamlit
opencensus-ext-azure
opencensus
azure-monitor-opentelemetry
rank_bm25 
tavily-python
langgraph
langchain-core
langsmith
pymupdf
python-docx
pandas
spacy
tqdm
sentence-transformers
qdrant-client
python-dotenv
azure-ai-contentsafety
azure-storage-blob
langsmith
azure-core
# Run: python -m spacy download en_core_web_sm